.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  body{

    background: #d1d5db;
}



.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.pagination a {
  color: black;
  
  padding: 8px 16px;
  
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #000000;
  color: white;
}
.pagination a {
  border-radius: 5px;
}

.pagination a.active {
  border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

