
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">THE MUSIC STORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a *ngIf="" class="nav-link" routerLink="/shopping-cart">USERS</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a *ngIf="isUserAuthenticated()" class="nav-link" (click)="logOut()">SIGN OUT</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isUserAuthenticated()" class="nav-link" routerLink="/sign-in">SIGN IN</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isUserAuthenticated()" class="nav-link" routerLink="/register">REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">CART</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">PROFILE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation -->

<header>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://images4.alphacoders.com/846/846670.jpg')">
        <div class="carousel-caption">
          <h5>GUITARS</h5>
          <p>description</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://wallpaperaccess.com/full/4933205.jpg')">
        <div class="carousel-caption">
          <h5>PIANOS</h5>
          <p>description</p>
        </div>
      </div>
      <div class="carousel-item"
        style="background-image: url('https://images.pexels.com/photos/1327430/pexels-photo-1327430.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
        <div class="carousel-caption">
          <h5>DRUMS</h5>
          <p>description</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://m.media-amazon.com/images/I/71dGUZwHfRL.jpg')">
        <div class="carousel-caption">
          <h5>SAXOPHONES</h5>
          <p>description</p>
        </div>
      </div>
      <div class="carousel-item"
        style="background-image: url('https://verbnow.com/wp-content/uploads/2021/06/1-flute-on-music-sheets-June222021-1.jpg')">
        <div class="carousel-caption">
          <h5>FLUTES</h5>
          <p>description</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>
<br>
<br>
<br>

<div class="container">

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-6">

      <div class="form" style="float: left;">
        <i class="fa fa-search"></i>
        <input type="text" [(ngModel)]="term" class="form-control form-input" placeholder="Search instrument...">

      </div>
      <div><button style="margin-left: 10px;" class="btn btn-outline-dark">Search</button></div>
      <br>
      <div>
       <div class="dropdown" style="float: left;">
        <button class="btn btn-outline-dark btn-sm dropdown-toggle " type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Category
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Strings</a></li>
          <li><a class="dropdown-item" href="#">Keyboard</a></li>
          <li><a class="dropdown-item" href="#">Percussion</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button style="margin-left: 10px" class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Filter
        </button>
        <ul class="dropdown-menu" >
          <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Color
            </label></li>
          <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Brand
            </label></li>
          <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Popularity
            </label></li>
        </ul>
      </div>
    
      
      
      
      
      </div>

    </div>

  </div>

</div>



<div class="container py-5">
  <div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
      <h5 class="display-4" style="color: black;">INSTRUMENTS</h5>
    </div>
  </div>
  <div class="row" class="list-group shadow" style="padding: 50px;">
    <div class="col-lg-8 mx-auto">
      <!-- list group-->
      <ul *ngFor="let product of allProducts |filter:term">
        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{product.name}} <button type="button"
                  class="btn btn-outline-dark btn-sm" style="margin-left: 10px"
                  (click)="onClickDetails()">Details</button></h5>
              <p class="font-italic text-muted mb-0 small">{{product.brand}}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">{{product.price}}</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
              </div>
            </div><img src="" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div> <!-- End -->
          <button type="button" class="btn btn-dark"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to
            cart</button>
          <button (click)="onClickGoToCheckout()" type="button" class="btn btn-success"
            style="margin-left: 10px; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Buy
            now</button>
        </li> <!-- End -->
      </ul>

      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
      </div>
    </div>
  </div>

</div>

