<div class="container">

  <div class="header-container">
    <img src="https://rare-gallery.com/mocahbig/77155-Instrument-Sheet-Music-Close-UpPiano-HD-Wallpaper.jpg" alt=""
      class="header-image" />
    <div class="header">



      <h1 class="main-heading">USERNAME</h1>
      <span class="tag">Active</span>

      <div class="stats">
        <span class="stat-module">
          <span></span>
        </span>
        <span class="stat-module">
          <span class="stat-number"></span>
        </span>
        <span class="stat-module">
          <span class="stat-number"></span>
        </span>
      </div>
    </div> <!-- END header -->
  </div>



  <div class="body">
    <img
      src="https://www.citypng.com/public/uploads/preview/white-user-member-guest-icon-png-image-31634946729lnhivlto5f.png"
      style="max-width: 100px;" alt="" class="body-image" />


    <div class="body-info">
      <p>INFO</p>
      <div >
        <button (click)="onClickGoToUserEdit()" type="button" class="btn btn-outline-dark" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="body-more">
      <br>
      <ul>
        <li>FIRST NAME </li>
        <li>LAST NAME </li>
        <li>USERNAME</li>
        <li>EMAIL </li>
        <li>ADDRESS </li>

      </ul>
      
    </div>
    <div class="card u-clearfix">
      <span class="card-heading"></span>
      <span class="card-more">
        <svg fill="#777777" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
        </svg>
      </span>
      <ul class="card-list">
        <li>Purchase history</li>
      </ul>
    </div>
  </div>


</div>
<div style="position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;">

  <a href="/" class="backBtn" style=" color: black">Go Back to Shop</a>

</div>